nav.show-nav {
  transform: translateX(0px);
  transition: transform 0.3s ease;
}

.toggle.moveToggle {
  transform: translateX(200px);
  transition: transform 0.3s ease;
}

nav {
  background-color: var(--primary-color);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-200%);
}

nav .logo {
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 130%;
  position: relative;
  padding: 40px 15px;
  text-align: center;
  margin-bottom: 3rem;
}

header p {
  margin: 30px 0;
}

button {
  background-color: var(--seconday-color);
  border-radius: 5px;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 8px 12px;
}

.sumbit-btn {
  background-color: var(--seconday-color);
  border-radius: 5px;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 8px 12px;
}

button:focus {
  outline: none;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20px;
  left: 20px;
}

.cta-btn {
  padding: 12px 30px;
  font-size: 20px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

li mat-icon {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}
.nav-link {
  vertical-align: middle;
  display: inline-block;
}
