<mat-card class="example-card">
  <mat-card-header>
    <div
      mat-card-avatar
      style="
        background-image: url('../assets/images/gaetani.jpg');
        background-size: cover;
        background-position: center;
      "
    ></div>
    <mat-card-title>Antonio Maurizio Gaetani</mat-card-title>
    <mat-card-subtitle>11/10/200 17:00:38</mat-card-subtitle>
    <div class="icons-header">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="record_voice_over"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="calendar_month"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="open_in_new"
      ></mat-icon>
    </div>
  </mat-card-header>

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-content>
    <div class="pdf">
      <button class="pdf-button">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="description"
          class="pdf-icon"
        ></mat-icon>
      </button>
      <div>Clicca per visualizzare il documento</div>
    </div>
  </mat-card-content>
  <hr />
  <mat-card-actions>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="thumb_up"
    ></mat-icon>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="star_rate"
    ></mat-icon>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="chat_bubble"
    ></mat-icon>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="polyline"
    ></mat-icon>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="room"
    ></mat-icon>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="delete"
    ></mat-icon>
  </mat-card-actions>
</mat-card>
